:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(177, 93%, 58%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.4;
  font-size: 18px;
  color: #fefefe;
  background-color: #1c181f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
  color: #fefefe;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

.menu {
  float: right;
  margin: 10px 0 0 0;
  padding: 0;
}
.menu a {
  text-decoration: none;
}

.menu-item {
  display: inline-block;
  position: relative;
  margin: 0.8rem 0.9rem;
}

.menu-anim::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1cfffb;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.menu-anim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.navbarMain {
  width: 100%;
  margin: 2rem;
}

#toc-title {
  position: relative;
  margin: 0 0 0.75rem 0;
  font-weight: 80%;
  font-size: 110%;
}

.page-content {
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition-delay: 0ms !important;
  }
}