svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 2s ease forwards 3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0%;
    }
}

@keyframes line-anim {
    from {
        fill: transparent;
    }
    to {
        fill: #1cfffb;
    }
}